## Zadanie 1
Stwórz listę liczb od 1 do 5 - bedzie to nasza bazowa lista. Następnie przygotuj: 

* drugą listę, która weźmie pierwsze trzy elementy z listy bazowej 
* trzecią listę, w której trzeci element listy bazowej zostanie zmieniony na 100
* czwartą listą, gdzie lista bazowa zostanie rozszerzona o dodatkowe 2 elementy wpisane za pomocą listy. 
* piątą listę, w której z listy bazowej usunięta zostanie wartośc 4.  

Wpisz kody które wydrukują każdą listę jedną po drugiej.

## Zadanie 2: Instrukcje If, elif, else
Do napisania jest następujący program -  użytkownik podaje numer poprzez komendę *input*. 

Następnie program wyświetli jedną z poniższych informacji, czy liczba jest podzielna:
* Zarówno przez 3 i przez 5
* Tylko przez 3
* Tylko przez 5
* Nie jest podzielna przez żadną z tych liczb

## Zadanie 3: Pętla for
Napisz pętle, która iterować będzie po elementach listy *napisy*

Na podstawie jej treści zacznij budować łańcuch znaków (*string*). 

Podejmij następujące działania:
* Jeżeli wyraz w liście ma 4 lub więcej 3 liter weź pierwsze dwa jego znaki
* Jeżeli wyraz ma równo 2 lub 3 litery weź 1 znak.
* Jeżeli wyraz ma 1 literę dodaj spację.

Wyświetl ukończony obiekt string - możesz dodać na końcu znak zapytania dla utrzymania porządku.

In [83]:
napisy = ["Polska", "z", "covid-19", "i", "torba", "a", "rak","obronił", "ile", "ela"]

In [85]:
lancuch = ""
for element in napisy:
  if len(element) > 4:
    lancuch += element[0:2]
  elif len(element) == 2 or len(element) == 3 :
    lancuch += element[0]
  elif len(element) == 1:  
    lancuch += " " 

print(lancuch)

Po co to robie

##Zadanie 4: Set albo Lista
Sprawdź w pętli, które elemnty z listy *druzyny_do_sprawdzenia* znajduja się w zbiorze *serie_a*

Dla każdego elementu wydrukuj: 
* Nazwa drużyny jest w Serie A - jeżeli drużyna znajduje się w zbiorze
* Nazwa drużyny spadł do Serie B - jeżeli drużyny nie ma w zbiorze.

In [86]:
druzyny_do_sprawdzenia = ["Benevento", "Empoli", "Sassuolo", "AC Parma"]

serie_a = {"Atalanta", "Bologna", "Cagliari", "Empoli", "Fiorentina", "Genoa", "Hellas Verona", 
           "Internazionale", "Juventus", "Lazio", "AC Milan", "Napoli", "Roma",  "Salernitana",
           "Sampdoria", "Sassuolo", "Spezia", "Torino", "Udinese", "Venezia" }

In [88]:
for element in druzyny_do_sprawdzenia:
  if element in serie_a:
    print(element, "jest w Serie A")
  else:
    print(element, "spadł do Serie B")

Benevento spadł do Serie B
Empoli jest w Serie A
Sassuolo jest w Serie A
AC Parma spadł do Serie B

## Zadanie 5: Set

Usuń duplikaty z listy za pomocą odpowiednich konwersji typów struktury.

In [76]:
miasta = ["m. st. Warszawa", "m. st. Warszawa", "m. st. Warszawa", "Kraków", "Kraków", 
          "Gdańsk", "Gdańsk", "Kraków", "Kraków", "Kraków", "Kraków", "Gdańsk", "Gdańsk",
          "Kraków", "Kraków", "Kraków", "Kraków", "Gdańsk"]

In [77]:
miastaUnikaty = set(miasta) 
print(miastaUnikaty)

{'Gdańsk', 'Kraków', 'm. st. Warszawa'}

##Zadanie 6: Pętla For
Wybierz z listy wyłącznie elementy będące tekstami. 

**Podpowiedź:** Wykorzystaj funkcję *isinstance*. Program można zapisać w jednej linijce kodu.

In [78]:
list_chaos = ["wszyscy", 12344, "kłamią", True, 1.9, 2, "Big", None, "Data"]

In [79]:
list_str = [element for element in list_chaos if isinstance(element, str)]
print(*list_str)

wszyscy kłamią Big Data

### Ćwiczenie 7
Dany jest tekst pod zmienną txt. 

Wykonaj kolejne kroki:

1. Zamień wszystkie litery na małe.
2. Usuń spacje i kropkę.
3. Utwórz zbiór składający się z wszystkich liter w tak otrzymanym tekście.
4. Odpowiednią metodą dla zbiorów usuń z tego zbioru wszystkie samogłoski
5. Wydrukuj liczbę elementów w tak przetworzonym zbiorze.

In [2]:
txt = 'Idzie Jan drogą do Krakowa.'

In [10]:
# Krok 1
txt = txt.lower()

# Krok 2
txt = txt.replace(" ", "")
txt = txt.replace(".", "")
print("Tekst po replace:", txt)

# Krok 3 
zbior = set()
for znak in txt:
   zbior.add(znak)
print("Zbiór podstawowy:", zbior)

# Krok 3 - prościej
zbior = set(txt)
#print(zbior)

# Krok 4 - usun samogłoski
samogloski = {'a', 'o', 'i', 'u', 'e', 'ą'}

zbior_bez_samoglosek = zbior.difference(samogloski)
print("Zbiór końcowy:", zbior_bez_samoglosek)

# Krok 5
print("Liczba elementów:", len(zbior_bez_samoglosek))

Tekst po replace: idziejandrogądokrakowa
Zbiór podstawowy: {'e', 'g', 'j', 'r', 'o', 'w', 'ą', 'k', 'z', 'i', 'd', 'n', 'a'}
Zbiór końcowy: {'r', 'j', 'w', 'k', 'z', 'g', 'd', 'n'}
Liczba elementów: 8

## Ćwiczenie 8

Posortuj podany obiekt typu *tuple* (od A do Z):

In [ ]:
imiona = ('Monika','Tomek','Adam','Olaf')

In [ ]:
b = sorted(imiona)
print(b)

['Adam', 'Monika', 'Olaf', 'Tomek']

## Ćwiczenie 9

Dany jest obiekt typu *tuple*. Posortuj ten obiekt (rosnąco) po drugim elemencie (wiek) każdego zagnieżdżonego obiektu *tuple*.

In [16]:
info = (('Monika', 19), ('Tomek', 21), ('Adam', 18), ('Jarek', 30))

In [17]:
f = lambda element: element[1]
b = sorted(info, key = f)
print(b)

[('Adam', 18), ('Monika', 19), ('Tomek', 21), ('Jarek', 30)]

## Ćwiczenie 10

Podany jest słownik. Wykorzystując dict comprehension wydobądź ze słownika pary klucz:wartość o wartości powyżej 100.

In [18]:
firmy = {'firma1': 22, 'firma2': 295, 'firma3':350}

In [19]:
dict_variable = {key:value for (key,value) in firmy.items() if value > 100}

print(dict_variable)

{'firma2': 295, 'firma3': 350}

## Ćwiczenie 11

Napisz program, który znajdzie wszystkie liczby dwucyfrowe podzielne przez 11. Wynik wydrukuj do konsoli w postaci wartości rozdzielonych przecinkiem.

**Oczekiwany wynik:**
```
11,22,33,44,55,66,77,88,99
```

In [26]:
# rozwiazanie 1
listaWynikowa =[]
for j in range(11,100, 11):
  listaWynikowa.append(j)

# rozwiazanie 2
i = 1 
listaWynikowa2 = []
while i * 11 < 100:
  listaWynikowa2.append(i*11)
  i +=1 

print(*listaWynikowa2, sep = ',')

11,22,33,44,55,66,77,88,99

## Ćwiczenie 12

Napisz program, który znajdzie wszystkie liczby dwucyfrowe podzielne przez 11 oraz niepodzielne przez 3. Wynik wydrukuj do konsoli w postaci wartości rozdzielonych przecinkiem.

**Oczekiwany wynik:**
```
11,22,44,55,77,88
```

In [27]:
# rozwiazanie 2
i = 1 
listaWynikowa2 = []
while i * 11 < 100:
  if i % 3 != 0:
    listaWynikowa2.append(i*11)
  i +=1 

print(*listaWynikowa2, sep = ',')

11,22,44,55,77,88

## Ćwiczenie 13

Napisz program, który z podanego tekstu wytnie dokładnie cztery pierwsze wyrazy. Zamień duże litery na małe. Wynik przedstaw w postaci listy.

In [34]:
txt = 'Python jest bardzo popularnym językiem programowania'
txt = txt.lower()
listaWyrazow = txt.split()
print(listaWyrazow)

pierwszeCztery = listaWyrazow[0:4]
print(pierwszeCztery)

ostatnieDwa = listaWyrazow[4:len(listaWyrazow)]
print(ostatnieDwa)

['python', 'jest', 'bardzo', 'popularnym', 'językiem', 'programowania']
['python', 'jest', 'bardzo', 'popularnym']
['językiem', 'programowania']

## Ćwiczenie 14

Podany jest tekst. Utwórz listę słów z podanego tekstu. Następnie zamień duże litery na małe, usuń znaki interpunkcyjne. Wyciągnij tylko wyrazy z długością powyżej 10 znaków.

In [37]:
text = """Python – język programowania wysokiego poziomu
ogólnego przeznaczenia, o rozbudowanym pakiecie bibliotek
standardowych, którego ideą przewodnią jest czytelność i
klarowność kodu źródłowego."""

In [43]:
# Male znaki
text = text.lower()

# Usuń interpunkcje
text = text.replace(".","")
text = text.replace(",","")
text = text.replace("–","")

# lista wyrazow
listaWyrazow = text.split()
lista10plus = [element for element in listaWyrazow if len(element) > 10]
print(lista10plus)

['programowania', 'przeznaczenia', 'rozbudowanym', 'standardowych']

## Ćwiczenie 15
Podana jest lista indeksów notowanych na GPW. Dokonaj iteracji po liście *indexes* oraz wydrukuj do konsoli tylko te indeksy zwierające w nazwie `'20'` lub `'30'`.

In [45]:
indexes = [
    'WIG', 'WIG-banki', 'WIG-budownictwo', 'WIG-CEE', 
    'WIG-chemia', 'WIG-energia', 'WIG-ESG', 'WIG-górnictwo',
    'WIG-informatyka', 'WIG-leki', 'WIG-media', 'WIG-motoryzacja',
    'WIG-nieruchomości', 'WIG-odzież', 'WIG-paliwa', 'WIG-Poland',
    'WIG-spożywczy', 'WIG-telekomunikacja', 'WIG-Ukraine',
    'WIG.GAMES', 'WIG.MS-BAS', 'WIG.MS-FIN', 'WIG.MS-PET',
    'WIG20', 'WIG20dvp', 'WIG20lev', 'WIG20short', 'WIG20TR',
    'WIG30', 'WIG30TR', 'WIGdiv', 'WIGtech'
]

In [46]:
indeks20_30 = [element for element in indexes if ("20" in element) or ("30" in element)]
print(*indeks20_30)

WIG20 WIG20dvp WIG20lev WIG20short WIG20TR WIG30 WIG30TR

## Zadanie 16: Funkcja / Lambda
Napisz funkcję albo wyrażenie lambda, które jako argument bierze 6 znakowy łańcuch znaków (*string*) - będzie udawać 6 pierwszych liczb z rejestru PESEL osób urodzonych przed 2000 np. 930101. 

Rozbijmy to tak, aby zaprezentowac datę urodzenia tj. 01 01 1993 

Czyli: 
2 ostatnie liczby > spacja > 2 środkowe liczby > spacja > 19 > 2 pierwsze liczby.

In [53]:
dana = "930101"
f = lambda x: x[len(x)-2: len(x)] + " " + x[len(x)-4: len(x)-2] + " 19" + x[0:2]

print(f(dana))

01 01 1993

## Ćwiczenie 17
Podana jest lista słów. Używając funkcji *map()* oraz wyrażenia *lambda* przekształć podaną listę w listę zawierającą długości poszczególnych słów.

In [57]:
slowa = ['playway', 'boombit', 'cd projekt']

In [59]:
f = lambda x: len(x)

dlugosci = list(map(f, slowa))
print(dlugosci)

[7, 7, 10]

## Ćwiczenie 18
Napisz funkcję *sort_list*, która uporządkuje listę składającą się z dwuelementowych obiektów typu *tuple* według drugiego elementu tupli.

**Przykład działania funkcji:**
```
[IN]: sort_list([(1, 3), (4, 1), (4, 2), (0, 7)])
[OUT]: [(4, 1), (4, 2), (1, 3), (0, 7)]
```
**Wskazówka:** Wykorzystaj funkcję `sorted()`.

In [61]:
lista = ([(1, 3), (4, 1), (4, 2), (0, 7)])

In [64]:
def funkcja(lista): 
  f = lambda element: element[1]
  listaSort = sorted(lista, key = f)
  return listaSort

listaSort = funkcja(lista)

print(listaSort)

[(4, 1), (4, 2), (1, 3), (0, 7)]

## Ćwiczenie 19
Podana jest lista. Wykorzystując funkcję *map()* oraz wyrażenie *lambda* przekształć podaną listę w taki sposób, aby pozbyć się z każdego elementu znaku `'-'` (myślnik).

In [71]:
items = ['P-1', 'R-2', 'D-4', 'F-6']

In [74]:
f = lambda element : element.replace("-", "")
nowaLista = list(map(f, items))

print(nowaLista)
print(*nowaLista)

['P1', 'R2', 'D4', 'F6']
P1 R2 D4 F6

## Ćwiczenie 20
Podane są dwie listy. Wykorzystując funkcję *map()* oraz wyrażenie *lambda* przekształć podane listy w jedną zawierającą resztę z dzielenia elementu pierwszej listy przez drugi element.

In [75]:
num1 = [4, 2, 6, 2, 11]
num2 = [5, 2, 3, 3, 9]

f = lambda x, y: x% y

przesztalcenie = list(map(f, num1, num2))
print(*przesztalcenie)

4 0 0 2 2